.updates {
  background: $colorBackground;

  h5 {
    grid-column: span 12;
    margin-bottom: 0;
  }

  &__group {
    grid-column: span 12;
    max-height: 512px;
    overflow-y: scroll;
    border-top: 1px solid $colorDivider;
    border-bottom: 1px solid $colorDivider;
    // margin: $m2 0;
    background: white;
  }
}

.update {
  padding: $l2;

  &:not(:last-of-type) {
    border-bottom: 1px solid $colorDivider;
  }

  &__content {
    ul {
      list-style: none;
      margin-left: $m2;
      padding-left: $m2;
      @extend p;

      > li {
        padding: $s2 0;

        &::before {
          content: '\2022';
          color: $colorSecondary;
          font-weight: bold;
          font-size: 2rem;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
          line-height: 1;
        }

        ul {
          list-style: circle;

          li {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  &__date {
    margin-top: $m2;

    .textIcon {
      &:before {
        background-image: url('#{$resPath}/img/time.svg');
      }
    }
  }
}
