.form {
  grid-column: span 12;
  padding: $l2;
  border-radius: $br;
  box-shadow: $bsMD;
}

.gform_body {
  legend,
  .gfield_label {
    @extend p;
  }

  .gfield_required_text {
    margin-left: $s2;
  }
}

.gform_confirmation_wrapper {
  background: white;
}

.gfield_radio,
.gfield_checkbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: $l2;

  @include rMin($md) {
    gap: $l2;
  }

  .gchoice {
    grid-column: span 12;

    @include rMin($md) {
      grid-column: span 6;
    }

    @include rMin($xl) {
      grid-column: span 3;
    }

    input {
      display: none;

      + label,
      + label:after {
        transition: all $aniSpeed $ani;
      }

      &:checked {
        + label {
          background: rgba($colorPrimary, 1) !important;
          border: 1px solid transparent;
          color: white;
        }
      }

      + label {
        position: relative;
        background: white;
        display: block;
        margin-left: 0;
        padding: $m2;
        border-radius: $br;
        border: 1px solid $colorDivider;
        @extend p;

        span {
          @extend h1;
          margin-top: $s2;
        }
      }
    }
  }
}
